/* src/components/Admin/AddAdmin.css */
.add-admin-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent; /* 배경색을 투명하게 설정 */
    border-radius: 8px;
    box-shadow: none; /* 그림자 제거 */
  }
  
  .add-admin-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* 헤딩 텍스트 색상 */
    font-size: 24px;
  }
  
  .add-admin-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
    display: block;
  }
  
  .form-input {
    padding: 10px;
    font-size: 14px;
    border: none; /* 테두리 제거 */
    background-color: transparent; /* 배경색 제거, 투명하게 설정 */
    color: #333; /* 텍스트 색상 */
    outline: none; /* 포커스 시 외곽선 제거 */
  }
  
  .form-input::placeholder {
    color: #aaa; /* 플레이스홀더 색상 */
  }
  
  .submit-button {
    padding: 10px;
    font-size: 16px;
    background-color: transparent; /* 버튼 배경 투명화 */
    color: #333; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
    cursor: pointer;
    position: relative;
    margin-left: auto; /* 오른쪽 정렬 */
  }
  
  .submit-button-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2); /* 반투명 원 */
    border-radius: 50%; /* 원 모양 */
    transition: background-color 0.3s ease;
  }
  
  .submit-button-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.4); /* 호버 시 밝아지는 효과 */
  }
  
  .error-message {
    color: #d9534f;
    margin-bottom: 10px;
  }
  
  .success-message {
    color: #5cb85c;
    margin-bottom: 10px;
  }
      