/* src/assets/styles/Admin/AdminAnnouncementListPage.css */

.announcement-list-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .announcement-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Ensure fixed layout */
  }
  
  .announcement-table th, .announcement-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
  }
  
  .announcement-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
  }
  
  .announcement-table td {
    text-align: left;
    white-space: nowrap; /* Prevent line break */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ... for overflow */
  }
  
  .announcement-table tr:hover {
    background-color: #f5f5f5; /* Highlight on hover */
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  