.coin-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.coin-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.coin-name {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.coin-symbol {
    font-size: 13px;
    margin-right: 10px;
}

.coin-price {
    font-size: 24px;
    color: #333;
    margin-right: 5px;
}

.coin-price-change {
    font-size: 16px;
}

.coin-volume {
    font-size: 15px;
    margin-bottom: 5px;
}

.coin-totalValue {
    font-size: 15px;
    border-top: 0.5px solid gray;
    padding-top: 5px;
}

span {
    margin: 5px;
}

.coin-24h-div-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: auto;
}