* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.container {
    padding: 10px;
}

.table-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px 15px;
    border: none;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

.table th, td {
    background-color: white;
    font-weight: bold;
    width: 25px;
    height: 13px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style-type: none;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #f4f4f4;
}

.table th:nth-child(1), .table td:nth-child(1){
    width: 20%; /* Name 열 */
    text-align: left;
}

.link-detail p {
    color: gray;
    font-size: 13px;
}

.table th:nth-child(2), .table td:nth-child(2) {
    width: 20%; /* Price 열 */
}

.table th:nth-child(3), .table td:nth-child(3) {
    width: 20%; /* 24h Change 열 */
}

.table th:nth-child(4), .table td:nth-child(4) {
    width: 20%; /* 24h Volume 열 */
}

.table th:nth-child(5), .table td:nth-child(5) {
    width: 20%; /* 24h High 열 */
}