* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.container {
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px 15px;
    border: none;
    text-align: left;
}

.table th, td {
    background-color: white;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style-type: none;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #f4f4f4;
}